.app {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 0 0 50px 0;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  width: 150px;
  padding: 10px 20px;
}

.app__signupModal {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.modalSignup {
  background: #fff;
  padding: 20px;
}

.modalSignup__logo {
  width: 100px;
  object-fit: contain;
}

.modalSignup {
  width: 500px;
}

.modalSignup > form > center {
  display: flex;
  flex-direction: column;
}

.modalSignup > form > center > * {
  margin: 0 0 20px 0;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__postsRight {
  margin: 0 0 0 20px;
}

.app__postsLeft {
  width: 100%;
}

.app__emptyPosts {
  font-size: 2em;
}

.app__loginToPost {
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 760px) {
  .app__postsRight {
    display: none;
  }
}